* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#1c2125;
}

.formulario { 
  width: 400px;
  background: #131b20;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'Roboto';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.formulario h4 { 
  font-size: 22px;
  margin-bottom: 20px;
}

.caja { 
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #ec1b31;
  font-family: 'Roboto';
  font-size: 18px;
  color: white;
}

.formulario p { 
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.formulario a { 
  color: white;
  text-decoration: none;
}

.formulario a:hover { 
  color: white;
  text-decoration: underline;
}

.formulario .botones {
  width: 100%;
  background: #ec1b31;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.bad {
  text-align: center;
  width: 100%;
  padding: 12px;
  background-color: #a22;
  color: #fff
}
.bien {
  text-align: center;
  width: 100%;
  padding: 12px;
  background-color:forestgreen;
  color: #fff
}
.lista table{
border: 1px solid #ccc;
border-collapse: collapse;
margin: 0;
padding: 0;
width: 100%;
table-layout: fixed;
}

table tr {
background-color: #ec1b31;
border: 1px solid #ddd;
padding: 4px;
}

table th{
padding: 16px;
text-align: center;
font-size: .85em;
}

h2{
  color:white;
  text-align:center;
}

