* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    color: #cbcbcb;
}

body {
    background-color: #131b20;
}

.listaMoviles table {
    border: 1px solid #ec1b31;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #474444;
    border: 1px solid #130f0f;
    padding: 4px;
}

table th {
    padding: 16px;
    text-align: center;
    font-size: .85em;
}

h2 {
    color: #ec1b31;
    text-align: center;
}

.botones {
    width: 100%;
    background: #ec1b31;
    border: none;
    padding: 12px;
    color: #000000;
    margin: 16px 0;
    font-size: 16px;
}

.listamoviles {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: #130f0f;
    border-right: #130f0f;
    border-left: #130f0f;
    text-align: left;
}

th {
    background-color: #ec1b31;
    font-weight: bold;
}

tr:hover {
    background-color: #ec1b31;
}

.editar, .eliminar, .botones {
    padding: 5px 10px;
    text-decoration: none;
    color: #130f0f;
    border-radius: 5px;
}

.editar {
    background-color: #3498db;
}

.editar:hover {
    background-color: #2980b9;
}

.eliminar {
    background-color: #e74c3c;
}
